$bg-color: #283747;
$txt-color: white;

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
    background-color: $bg-color;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}