$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/reset';
@import 'compass/css3';
@import 'compass/utilities';
@import "compass/css3/filter";

body, html{
  height: 100%;
  background: black;
}
//.container{
//  width: 533px;
//  height: 533px;
//  border: 1200px solid black;
//  margin: -1100px 0 0 -710px;
//  border-radius: 99999px;
//}
#outerBack, #outer{
  margin: 0 auto;
  width: 800px;
  height: 100%;
  position: absolute;
}

#outerBack{
  @include background(radial-gradient(circle,
    rgba(51, 181, 229, 0) 267px, #000000 267px));
  z-index: 15;
}

#outer{
  @include background(radial-gradient(circle,
    rgba(51, 181, 229, 0) 267px,
    #33b5e5 267px, #33b5e5 267px,
    #15495c 270px, #000000 311px));
  z-index: 17;
  opacity: 0.5;
}

#center{
  background: url('../images/center.png');
  width: 800px;
  margin: 0 auto;
  height: 100%;
  background-position: center;
  position: absolute;
  top:-1px;
  left:4px;
  z-index: 10;
}
#center-black{
  width: 800px;
  margin: 0 auto;
  height: 100%;
  background-position: center;
  position: absolute;
  top:-1px;
  left:4px;
  z-index: 7;
  @include background(radial-gradient(circle,
    black 0px,
    black 90px,
    rgba(0,0,0,0) 130px));
  @include transition(opacity 1s);
}
#clickCatcher{
  width: 275px;
  height: 275px;
  margin: 0 auto;
  top: 254px;
  left: 266px;
  border-radius: 9999px;
  background-position: center;
  position: absolute;
  //top:-1px;
  //left:4px;
  z-index: 100;
  cursor: pointer;
  //background: rgba(255,255,255,0.5);
}

#outrunner,#inrunner{
  position: absolute;
  top:0;
  z-index: 5;
  margin: 0 auto;
  width: 800px;
  height: 100%;
  @include transition(opacity 1s);
}
body.stoped{
  background:rgb(18,46,56);
  #inrunner{
    opacity: 0.5;
  }
  #center-black{
    opacity: 0;
  }
}
body{
  @include transition(background-color 1s);
}